<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
  <rules>
    <rule name="Hide .php ext" enabled="true">
      <match url="^(.*)" ignoreCase="true" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
      </conditions>
      <action type="Rewrite" url="{R:0}.php" />
    </rule>
    <rule name="Redirecting .php ext" enabled="true" stopProcessing="true">
      <match url="^(.*).php" />
      <conditions logicalGrouping="MatchAny">
        <add input="{URL}" pattern="(.*).php" />
      </conditions>
      <action type="Redirect" url="{R:1}" />
    </rule>
                <rule name="grafana" enabled="false" stopProcessing="true">
                    <match url="grafana(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:2}" />
                </rule>

  </rules>
</rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />                
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
